<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чудеса света</title>
</head>
<body>
    <main>
        <div class="main_first_sec">
            <h1 class="main_first_sec_h1">
                Чудеса
            </h1>
            <h2 class="main_first_sec_h2">
                света
            </h2>
        </div>
        <div class="main_second_sec">
            <div class="main_second_sec_text">
                <p class="main_second_sec_text_head">Какие именно?</p>
                <ol>
                    <li class="main_li"><a href="The_pyramid_of_Cheops.html">Пирамида Хеопса</a></li>
                    <li class="main_li"><a href="Hanging Gardens of Semiramis.html">Висячие сады Семирамиды</a></li>
                    <li class="main_li"><a href="Statue of Zeus in Olympia.html">Статуя Зевса в Олимпии</a></li>
                    <li class="main_li"><a href="Temple of Artemis.html">Храм Артемиды</a></li>
                    <li class="main_li"><a href="Mausoleum of the Mausoleum.html">Мавзолей Мавсола</a></li>
                    <li class="main_li"><a href="Statue of the Colossus of Rhodes.html">Статуя Колосса Родосского</a></li>
                    <li class="main_li"><a href="The Lighthouse of Alexandria.html">Александрийский маяк</a></li>
                </ol>
            </div>
            <div class="main_second_sec_img">
                <img src="../static/second_sec_im1.png" class="main_second_sec_img1">
                <img src="../static/second_sec_im2.png" class="main_second_sec_img2">
                <img src="../static/second_sec_im3.png" class="main_second_sec_img3">
            </div>
        </div>
        <div class="main_third_sec">
            <p class="main_third_sec_text1">
                <span class="main_third_sec_head">Семь чудес света</span> – это рукотворные древние сооружения, которые многие тысячелетия поражают людей своими масштабами и искусной архитектурой.
                Первый список составил ещё древнегреческий историк Геродот, правда, в него входили лишь три сооружения. Более привычный нам список из семи локаций описал греческий поэт Антипатр Сидонский во II веке до нашей эры
            <p class="main_third_sec_text2"> Где находились? </p>
            <img src="../static/map.png" class="main_third_sec_img">
        </div>
    </main>
</body>
</html>